Jumia.xcodeproj/project.xcworkspace/xcuserdata/claudiosobrinho.xcuserdatad/UserInterfaceState.xcuserstate
Jumia.xcodeproj/xcuserdata/claudiosobrinho.xcuserdatad/xcschemes/Bamilo.xcscheme
Jumia.xcodeproj/xcuserdata/claudiosobrinho.xcuserdatad/xcschemes/Daraz.xcscheme
Jumia.xcodeproj/xcuserdata/claudiosobrinho.xcuserdatad/xcschemes/Jumia.xcscheme
Jumia.xcodeproj/xcuserdata/claudiosobrinho.xcuserdatad/xcschemes/Shop.com.mm.xcscheme
Jumia.xcodeproj/xcuserdata/claudiosobrinho.xcuserdatad/xcschemes/xcschememanagement.plist
