Jumia.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/.dat.nosync041c.9Y4DMa
Jumia.xcodeproj/project.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
Jumia.xcodeproj/xcuserdata/admin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Jumia.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Bamilo.xcscheme
Jumia.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Daraz.xcscheme
Jumia.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Jumia.xcscheme
Jumia.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Shop.com.mm.xcscheme
Jumia.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
