<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>459777214540-8cao2s3mtgjsq12s1dl9locutsj3ns0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.459777214540-8cao2s3mtgjsq12s1dl9locutsj3ns0h</string>
	<key>API_KEY</key>
	<string>AIzaSyASRkGJsvUXqBMElafUHqL8dbqnOjRMRVA</string>
	<key>GCM_SENDER_ID</key>
	<string>459777214540</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bamilo.app.ios</string>
	<key>PROJECT_ID</key>
	<string>bamilo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>bamilo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:459777214540:ios:60010be71d885df4</string>
	<key>DATABASE_URL</key>
	<string>https://bamilo-app.firebaseio.com</string>
    <key>NSCalendarsUsageDescription</key>
    <string>Bamilo would like to access your calendar</string>
    <key>NSCameraUsageDescription</key>
    <string>Bamilo would like to access your camera</string>
    <key>NSContactsUsageDescription</key>
    <string>Bamilo would like to access your contacts</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Bamilo would like to access your location</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Bamilo would like to access your location</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>Bamilo would like to access your photos</string>
</dict>
</plist>
