<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:www.jumia.com.ng
applinks:integration-mobile-www.jumia.com.ng
applinks:alice-staging.jumia.com.ng
applinks:www.jumia.ma
applinks:integration-mobile-www.jumia.ma
applinks:alice-staging.jumia.ma
applinks:www.jumia.cm
applinks:alice-integration.jumia.cm
applinks:alice-staging.jumia.cm
applinks:www.jumia.com.eg
applinks:alice-integration.jumia.com.eg
applinks:alice-staging.jumia.com.eg
applinks:www.jumia.ci
applinks:alice-integration.jumia.ci
applinks:alice-staging.jumia.ci
applinks:www.jumia.com.gh
applinks:alice-integration.jumia.com.gh
applinks:alice-staging.jumia.com.gh
applinks:www.jumia.co.ke
applinks:alice-integration.jumia.co.ke
applinks:alice-staging.jumia.co.ke
applinks:www.jumia.ug
applinks:alice-integration.jumia.ug
applinks:alice-staging.jumia.ug
applinks:www.jumia.co.tz
applinks:alice-integration.jumia.co.tz
applinks:alice-staging.jumia.co.tz
applinks:www.dz.jumia.com
applinks:integration-dz.jumia.com
applinks:alice-staging.dz.jumia.com
applinks:www.jumia.sn
applinks:alice-integration.jumia.sn
applinks:alice-staging.jumia.sn
applinks:www.jumia.co.ao
applinks:alice-integration.jumia.co.ao
applinks:alice-staging.jumia.co.ao</string>
		<string>applinks:integration-mobile-www.jumia.com.ng</string>
		<string>applinks:alice-staging.jumia.com.ng</string>
		<string>applinks:www.jumia.ma</string>
		<string>applinks:integration-mobile-www.jumia.ma</string>
		<string>applinks:alice-staging.jumia.ma</string>
		<string>applinks:www.jumia.cm</string>
		<string>applinks:alice-integration.jumia.cm</string>
		<string>applinks:alice-staging.jumia.cm</string>
		<string>applinks:www.jumia.com.eg</string>
		<string>applinks:alice-integration.jumia.com.eg</string>
		<string>applinks:alice-staging.jumia.com.eg</string>
		<string>applinks:www.jumia.ci</string>
		<string>applinks:alice-integration.jumia.ci</string>
		<string>applinks:alice-staging.jumia.ci</string>
		<string>applinks:www.jumia.com.gh</string>
		<string>applinks:alice-integration.jumia.com.gh</string>
		<string>applinks:alice-staging.jumia.com.gh</string>
		<string>applinks:www.jumia.co.ke</string>
		<string>applinks:alice-integration.jumia.co.ke</string>
		<string>applinks:alice-staging.jumia.co.ke</string>
		<string>applinks:www.jumia.ug</string>
		<string>applinks:alice-integration.jumia.ug</string>
		<string>applinks:alice-staging.jumia.ug</string>
		<string>applinks:www.jumia.co.tz</string>
		<string>applinks:alice-integration.jumia.co.tz</string>
		<string>applinks:alice-staging.jumia.co.tz</string>
		<string>applinks:www.dz.jumia.com</string>
		<string>applinks:integration-dz.jumia.com</string>
		<string>applinks:alice-staging.dz.jumia.com</string>
		<string>applinks:www.jumia.sn</string>
		<string>applinks:alice-integration.jumia.sn</string>
		<string>applinks:alice-staging.jumia.sn</string>
		<string>applinks:www.jumia.co.ao</string>
		<string>applinks:alice-integration.jumia.co.ao</string>
		<string>webcredentials:example.com</string>
	</array>
</dict>
</plist>
