<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kGTMToken</key>
	<string>GTM-5FJ6G9</string>
	<key>kRIAdjustToken</key>
	<string>fkh3gvku8ral</string>
	<key>kRIAdd4PushPrivateKey</key>
	<string>25ec0c7fdc70721975c8654bdfb5b7c197838c07</string>
	<key>kRIAdd4PushUserID</key>
	<string>rocketinternet7990bb1f9a853af</string>
	<key>kRIAdd4PushDeviceToken</key>
	<string></string>
	<key>RIGoogleAnalyticsTrackingID</key>
	<string></string>
	<key>RIBugsenseAPIKey</key>
	<string></string>
	<key>RINewRelicTokenAPIKey</key>
	<string>AA11211e8c9c311f3a9ec6ca6902bc3115602b7b8d</string>
</dict>
</plist>
