<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kRIAdd4PushPrivateKey</key>
	<string>05014860193a3b5588d4717320bf02aa9334a04a</string>
	<key>kRIAdd4PushUserID</key>
	<string>rocketinternetf45d9fa321cd70a</string>
	<key>kRIAdd4PushDeviceToken</key>
	<string>ad4push1234devicetoken</string>
	<key>kRIAdXAppleId</key>
	<string>123456789</string>
	<key>kRIAdXClientId</key>
	<string>ritracking123</string>
	<key>kRIAdXURLScheme</key>
	<string>ADX12345</string>
	<key>kRIAdXiPadBundleId</key>
	<string>com.ritracking.ipadbundleid</string>
	<key>kRIAdXiPhoneBundleId</key>
	<string>com.ritracking.iphonebundleid</string>
	<key>RIGoogleAnalyticsTrackingID</key>
	<string>abc1234</string>
	<key>RIBugsenseAPIKey</key>
	<string>1234abc</string>
</dict>
</plist>
