<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kRIAdjustToken</key>
	<string>pttex2kff47v</string>
	<key>kGTMToken</key>
	<string>GTM-KT3X23</string>
	<key>RIGoogleAnalyticsTrackingID</key>
	<string></string>
	<key>RIBugsenseAPIKey</key>
	<string></string>
	<key>kRIAdd4PushDeviceToken</key>
	<string></string>
	<key>kRIAdd4PushUserID</key>
	<string>bamilo6f7e9b89b2edfe5</string>
	<key>kRIAdd4PushPrivateKey</key>
	<string>159692ac5bd09b91c5ac09ecb9b614ab008b0d53</string>
	<key>RINewRelicTokenAPIKey</key>
	<string>AA48dd2df36dd34380fef53f1a2926270a3ed74429</string>
</dict>
</plist>
