<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kRIAdd4PushPrivateKey</key>
	<string></string>
	<key>kRIAdd4PushUserID</key>
	<string></string>
	<key>kRIAdd4PushDeviceToken</key>
	<string></string>
	<key>kRIAdXAppleId</key>
	<string></string>
	<key>kRIAdXClientId</key>
	<string></string>
	<key>kRIAdXURLScheme</key>
	<string></string>
	<key>kRIAdXiPadBundleId</key>
	<string></string>
	<key>kRIAdXiPhoneBundleId</key>
	<string></string>
	<key>RIGoogleAnalyticsTrackingID</key>
	<string></string>
	<key>RIBugsenseAPIKey</key>
	<string></string>
	<key>RINewRelicTokenAPIKey</key>
	<string>AA48292e8c4faaf70909a8ad6f97336f24ab375edd</string>
</dict>
</plist>
