<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fa</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Autumn</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Autumn</string>
				</array>
			</dict>
			<key>Birthday</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Birthday</string>
				</array>
			</dict>
			<key>National</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>National</string>
				</array>
			</dict>
			<key>Ramadan</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Ramadan</string>
				</array>
			</dict>
			<key>SpecialOffer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SpecialOffer</string>
				</array>
			</dict>
			<key>Spring</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Spring</string>
				</array>
			</dict>
			<key>Summer</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Summer</string>
				</array>
			</dict>
			<key>Tragedy</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Tragedy</string>
				</array>
			</dict>
			<key>Winter</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Winter</string>
				</array>
			</dict>
			<key>Yalda</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Yalda</string>
				</array>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon</string>
			</array>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.pushwoosh.scheme</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pw-82449-6B792</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.bamilo.app.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tagmanager.c.com.bamilo.app.ios</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.bamilo.app.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>bamilo</string>
				<string>gsd-bamilo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>Configs</key>
	<dict>
		<key>API_BaseUrl</key>
		<string>http://www.bamilo.com/mobapi/</string>
		<key>API_Version</key>
		<string>2.8</string>
		<key>AdjustTokenID</key>
		<string>pttex2kff47v</string>
		<key>EMMerchantID</key>
		<string>18146DE34FE0B8C9</string>
		<key>EmarsysMobileEngage</key>
		<dict>
			<key>Application_CODE</key>
			<string>82449-6B792</string>
			<key>Application_PASSWORD</key>
			<string>oKjusj5sk9ebqCYgi38XdM/PtPCPqLTl</string>
		</dict>
		<key>GoogleAnalyticsID</key>
		<string>UA-57415371-2</string>
		<key>Pushwoosh_BETA</key>
		<string>0</string>
		<key>Tour</key>
		<dict>
			<key>HomePage</key>
			<array>
				<string>ItemTrackings</string>
			</array>
			<key>ProfileView</key>
			<array>
				<string>ItemTrackings</string>
			</array>
		</dict>
	</dict>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>93ef3db21e524147cf9702fd4dc34e7169e372d1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bma4sreceiver</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api20140430</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>Bamilo would like to access your calendar</string>
	<key>NSCameraUsageDescription</key>
	<string>Bamilo would like to access your camera</string>
	<key>NSContactsUsageDescription</key>
	<string>Bamilo would like to access your contacts</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Bamilo would like to access your location</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bamilo would like to access your photos</string>
	<key>PW_USE_GPS</key>
	<true/>
	<key>Pushwoosh_APPID</key>
	<string>82449-6B792</string>
	<key>Pushwoosh_APPNAME</key>
	<string>Bamilo</string>
	<key>Pushwoosh_LOG_LEVEL</key>
	<string>NONE</string>
	<key>UIAppFonts</key>
	<array>
		<string>Bamilosans Reg.ttf</string>
		<string>Bamilosans Light.ttf</string>
		<string>Bamilosans UltraLight.ttf</string>
		<string>Bamilosans Bold.ttf</string>
		<string>Bamilosans Black.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
